@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


* {
  padding: 0;
  margin: 0;
}


a {
  text-decoration: none;
}

.navigation ul {
  /* background-color: #81ac81; */
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  display: flex;
  justify-content: space-around;
  list-style: none;
  height: 50px;
  width: 800px;
  margin: auto;
  cursor: pointer;
}

.navigation li {
  justify-content: ;
  display: flex;
  align-items: center;
}

.support {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  display: flex;

}

.nav_header {
  -webkit-text-size-adjust: none;
}

.freeground {
  background-color: #000;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.freeground a {
  color: #fff !important;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 0.9rem;
  letter-spacing: .05rem;
  line-height: 2;
}


.sport_fitness {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sport_fitness a {
  color: #1a1a1a;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  line-height: 3;
}
/* 
.banner {
  max-width: 100%;
} */

.banner img {
  max-width: 100%;
  width: 100%;
}




.banner_text {
  background-color: #81ac81;
  font-optical-sizing: auto;
  -webkit-text-size-adjust: none;
  color: #ffffff;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  width: 100%;
  height: auto;
  text-align: left;
  padding: 50px;
}

.banner_text h1 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  letter-spacing: 1.8px;
  line-height: 1.25;
  font-size: 35px;
  box-sizing: ;
}

.banner_text p {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  letter-spacing: 0.04rem;
  max-width: 350px;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.5;
}


.container2 {
  background: #fff;
  width: auto;
  margin: auto;
  padding: 32px 16px;
}

.container2 h3 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  letter-spacing: .05rem;
  line-height: 1.25;
  margin: 1.5rem 0;
  font-size: 35px;
}

.card {
  text-align: center;
  color: #000;
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
}

.container2 p {
  font-size: 1.125rem;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 18px;
}


.SHOPALL {
  display: flex;
  justify-content: center;
}

.SHOPALL a {
  font-family: "Roboto";
  color: #000;
  transition: .2s;
  text-transform: uppercase;
  outline: none;
  font-size: 15px;
  font-weight: 500;
  padding: 14px 20px;
  text-align: center;
  border: 1px solid #000;
}


.SHOPALL a:hover {
  border: 1px solid #fff;
  background: #000;
  color: #fff;
}

.card2 {
  display: flex;
  justify-content: center;
  padding: 80px;
}

.card2 h2 {
  font-family: "Oswald";
  font-style: inherit;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 2rem;
  color: #000;
  letter-spacing: .05rem;
  line-height: 1.25;
}


.card-container {
  max-width: 50%;
  width: 100%;
  display: flex;
  flex-direction:  row;
  padding: 10px;
}



.card_title1 h3 {
  display: flex;
  justify-content: center;
  align-items: center;
}