@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.support_p p {
  display: flex;
  align-items: center;

}

.support div {
  align-items: center;
  padding: 10px;
}

.support {
  font-family: "Roboto";
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000;
}

.logo-adap {
  display: none;
}

.logo a {
  color: #000;
  font-family: "Roboto";
  font-size: 25px;
  font-weight: 525;
  letter-spacing: 2px;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.logo-adap a {
  color: #000;
  font-family: "Roboto";
  font-size: 25px;
  font-weight: 525;
  letter-spacing: 2px;
  padding: 1rem;
}

.navigation ul {
  /* background-color: #81ac81; */
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  display: flex;
  justify-content: space-around;
  list-style: none;
  height: 50px;
  width: 800px;
  margin: auto;
  cursor: pointer;
}

.navigation li {
  justify-content: ;
  display: flex;
  align-items: center;
  letter-spacing: 0.05rem;
}


.support {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  display: flex;


}

.nav_header {
  -webkit-text-size-adjust: none;
}

.freeground {
  background-color: #000;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: .8rem;
  box-sizing: border-box;
}


.freeground a {
  color: #fff !important;
  font-family: "Roboto";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: .05rem;
  line-height: 2;
}


.sport_fitness {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sport_fitness a {
  color: #1a1a1a;
  font-family: "Roboto";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  letter-spacing: 0.01rem;
  line-height: 3;
}

/* 
.banner {
  max-width: 100%;
} */


.banner {
  position: relative;
}

.banner img {
  max-width: 100%;
  width: auto;
}

.banner_text {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 20%;
  left: 2%;
  font-optical-sizing: auto;
  color: #ffffff;
  padding: 50px;
}

.banner_text h1 {
  max-width: 1200px;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  letter-spacing: 1.8px;
  line-height: 1.25;
  font-size: 40px;
}

.banner_text p {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  letter-spacing: 0.04rem;
  max-width: 400px;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.5;
  padding-top: 20px;
}


.container2 {
  background: #fff;
  width: auto;
  margin: auto;
  padding: 32px 16px;
}

.container2 h3 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  letter-spacing: .05rem;
  line-height: 1.25;
  margin: 1.5rem 0;
  font-size: 35px;
}

.card {
  text-align: center;
  color: #000;
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
}

.container2 p {
  font-size: 1.125rem;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 18px;
}


.SHOPALL {
  display: flex;
  justify-content: center;
}

.SHOPALL a {
  font-family: "Roboto";
  color: #000;
  transition: .2s;
  text-transform: uppercase;
  outline: none;
  font-size: 15px;
  font-weight: 500;
  padding: 14px 20px;
  text-align: center;
  border: 1px solid #000;
}


.SHOPALL a:hover {
  border: 1px solid #fff;
  background: #000;
  color: #fff;
}

.card2 {
  display: flex;
  justify-content: center;
  padding: 50px;
  text-align: center;
}

.card2 h2 {
  font-family: "Oswald";
  font-style: inherit;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 2rem;
  color: #000;
  letter-spacing: .05rem;
  line-height: 1.25;
}


.container_card {
  position: relative;
  display: flex;
  padding: 10px;
}

.container_card img {
  max-width: 100%;
}

.imeg {
  padding: 10px;
}

.container_card h3 {
  font-family: "Oswald";
  letter-spacing: .05rem;
  font-weight: 400;
  font-size: 1.5rem;


}

.info-entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  position: relative;
  bottom: 140px;
}

.info-advanced {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  position: relative;
  bottom: 140px;
}

.info-elite {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  position: relative;
  bottom: 140px;
}

.container_card a {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 0.875rem;
  font-weight: 500;
  border: solid 1px #ffffff;
  margin: 1rem 0 0;
  padding: 0.5rem 1.5rem;
  line-height: 1.15;
  transition: 0.2s, color 0.2s;
}

.container_card a:hover {
  border: 1px solid #ffffff;
  background: #ffffff;
  color: #000;
}




.head-nav {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}


.video_content iframe {
  display: flex;
  width: 100%;
  height: 450px;

}

.container_base {
  background-color: #000;
  color: #ffffff;
  width: auto;
  margin: auto;
  padding: 30px 16px;
}

.container_text {

  align-items: center;
  padding: 0;
  text-align: center;
  width: 100%;
  padding: 10px;

}

.container_text h3 {
  font-family: "Oswald";
  font-weight: 400;
  letter-spacing: 0.05rem;
  font-size: 2rem;
  line-height: 1.25;
  margin: 1.5rem 0;
}

.container_text p {
  font-family: "Roboto";
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: 400;

}

.container_text a {
  font-family: "Roboto";
  color: #ffffff;
  margin: 2rem;
  font-family: ;
  border: solid 1px #fff;
  transition: .2s;
  font-weight: 500;
  padding: .75rem 1.5rem;
  display: inline-block;
  font-size: 0.9rem;
}

.container_text a:hover {
  background: #fff;
  color: #000;
}


footer {
  background: #000;
  display: flex;
  flex-wrap: wrap;
}

.nav_footer {
  width: 100%;

}



.nav_list {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.nav_list ul {
  list-style: none;
}

.nav_list a {
  font-weight: 400;
  color: #fff;
}

.nav-list-item button {
  color: #fff;
  font-family: "Oswald";

  font-weight: 400;
  letter-spacing: .05rem;
  border: 0;
  line-height: 2rem;
  font-size: 1.3rem;
  outline: none;
  background: transparent;
  cursor: pointer;
}

.nav-list-li {
  font-family: "Roboto";
  position: relative;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
}

.nav-list-item {
  margin-right: 3rem;
  line-height: 1.5rem;
  display: inline-block;
  border-bottom: none;
  list-style: none;
  font-size: 1.25rem;
  position: relative;
}


.nav-list-li a:hover {
  text-decoration: underline;
}

.socialmediafooter h4 {
  color: #fff;
  font-family: "Roboto";
  font-size: 0.8rem;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 0;
  margin: 1rem 0 0 0;
}


.socialmediafooter h4:hover {
  text-decoration: underline;
}

.socialmediafooter {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  padding-top: 3rem;
  padding-left: 30px;
  padding-right: 30px;
}

.fotter_social_media {
  min-width: 200px;
  display: flex;

}

.fotter_social_media_items {
  margin: 0 1rem;
}

.white-line-footer {
  width: 100%;
  height: auto;
  margin: 0 30px 0px 30px;
  border-bottom: 4px solid #fff;
}


.foter_nav {
  font-family: "Roboto";
  font-size: .8rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 10px 30px 10px 30px;
  color: #fff;
  list-style: none;
  font-weight: 500;
  align-items: center;
}


.foter_nav_li {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.foter_nav_li a {

  color: #fff;
}

.foter_nav_li li {

  padding-left: 25px;
}

.foter_nav_li a:hover {
  text-decoration: underline;
}





#container_text {
  color: #000;
}

.container_base_light {
  background: #fff;
}



.card-container {
  display: flex;
  justify-content: center;
  flex-flow: column;
  margin-top: 30px;
  width: 100%;
}

.cards-container {
  display: flex;
  align-items: center;
}

.card3 {
  width: calc(33.3333% - 1.5em);
  margin: 20px;
  box-shadow: 0.3px 1px 3px 1px #dfdcdc;
}

.card3 img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 0 1rem 1.5rem;
  line-height: 1.5;
}

.card-content h4 {
  font-family: "Oswald";
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: .05rem;
  line-height: 1.25;
  text-align: left;
  color: #000000;
  margin-bottom: 16px;
}

sup {
  line-height: 1;
  position: relative;
  vertical-align: super;
}

.registered-symbol-card {
  top: -.1rem;
  font-size: max(.6875rem, .4em);
}


.card-content p {}

.card-discription {
  font-family: "Roboto";
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  font-size: 1rem;
  margin: 0 0 1rem;
}

.price {
  font-family: "Roboto";
  font-weight: 700;
  align-items: flex-end;
}

.containercards {
  display: flex;
  min-width: 250px;
  text-align: left;
  font-size: 0.875rem;
  padding: 16px 0 0 0;
  font-family: "Roboto";
  line-height: 1.5;
  font-weight: 400;
  border-top: 1px solid #d9d9d9;

}

.product-filter__filters__container {
  display: flex;
  padding: .75em .5em;
}

.product-filter__filters__container label {
  cursor: pointer;
}

.sort-menu {
  display: flex;
  flex-direction: column;
  width: 350px;
  padding: 0 15px 0 15px;
  border-right: solid 1px #d9d9d9;
}

.cort-menu-title {
  font-weight: 700;
  padding: 1em 0;
  box-sizing: inherit;
  font-size: .875rem;
  line-height: 1.5;
}

.grid__options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: inherit;
  padding: 0 16px 0 16px;
}



.compare-buttom {
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;

}

.compare-buttom a {
  background: #000;
  font-family: "Roboto";
  color: #fff;
  font-family: ;
  transition: .2s;
  outline: none;
  text-transform: uppercase;
  font-weight: 500;
  padding: 0.5rem 1.5rem;
  display: inline-block;
  font-size: 0.9rem;
  border: solid 1px #fff;

}

.img-adaptiv {
  display: none;
}

.compare-buttom a:hover {
  background: #fff;
  color: #000;
  border: solid 1px #000;
  outline: none;
}

.select-option {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;

}

.select-option p {
  margin-right: 1rem;
  font-weight: 700;
  font-size: 0.9rem;
  text-align: left;
  font-family: "ROboto";
}

.select-option select {
  font-size: 1em;

  width: 100%;
  height: auto;
  background-color: #ffffff;
  appearance: none;
  border: 1px solid #d9d9d9;
  margin: 14 48px 14px 14px;
  padding: 0.875rem 3em 0.875rem 0.875rem;
}


label {
  width: 270px;
}


@media (max-width: 1140px) {
  .navigation {
    display: none;
  }

  .logo-adap {
    display: flex;
    justify-content: center;
  }

  .support {
    display: none;
  }

  .head-nav {
    display: flex;
    justify-content: center;
  }

  .banner_text h1 {
    font-size: 25px;
  }

  .banner_text p {
    text-align: center;
  }

  .banner_text {
    display: flex;
    align-items: center;
    width: auto;
    position: relative;
    color: #fff;
    padding: 20px 10px 20px 10px;
    margin: 0;
    left: 0;
  }

  .banner {
    background: #000;
  }

  .sort-menu {
    display: none;
  }

  .container_card {
    display: flex;
  }

}

@media (max-width:800px) {
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .cards-container {
    padding: 20px 0 20px 0;
  }
  .card3 {
    width: 40%;
    margin: 6px;

  }

  .foter_nav {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 10px;
    margin-bottom: 10px;

  }

  .foter_nav_li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
  }

  .foter_nav p {
    display: flex;
    justify-content: center;
  }

  .container_card {
    display: flex;
    flex-direction: column;
  }

  .fullimg {
    display: none;
  }

  .img-adaptiv {
    display: flex;
  }
}

@media (max-width:850px) {
  .cards-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .container_card {
    padding: 0;
  }
}

.card3 {
  width: 300px;
}







@media (max-width:525px) {

 
  .nav_list {
    display: none;
  }

  .socialmediafooter {
    display: flex;
    flex-direction: column;
  }

  .socialmediafooter h4 {
    margin-bottom: 15px;
  }

  .white-line-footer {
    margin: 0;
  }

  .foter_nav {
    margin: 16px 0 16px 0;
  }

  .foter_nav_li {
    display: flex;
    flex-wrap: wrap;
    padding: 16px 0 16px 0;
    line-height: 3;
  }

  .card3 {
    width: 80%;

  }

  .grid__options {
    display: flex;
    flex-direction: column-reverse;
    align-items: start;

  }

  .compare-buttom {
    padding-top: 30px;
  }

  .select-option select {
    width: 80%;
  }

.select-option label {
  display: flex;
  justify-content: end;
}

.select-option p {
  width: 49px;
}
  #sort {
    
  }
}